<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Calculator</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar  color="primary">
      <ion-title size="large">Calculator</ion-title>
    </ion-toolbar>
  </ion-header>
  <input type="text" [(ngModel)]="display" onkeydown="return false" placeholder="0" class="textarea">

      <div class="buttonsize">
        <div class="buttonsizerow">
          <button mat-raised-button class="example-button-op" (click)="clear()"><h1>AC</h1></button>
          <button mat-raised-button class="example-button-op" (click)="deleteLastCharacter()"><h1>CE</h1></button>
          <button mat-raised-button class="example-button-op" (click)="addToDisplay('%')"><h1>%</h1></button>
          <button mat-raised-button class="example-button-op" (click)="addToDisplay('/')" ><h1>/</h1></button>
        </div>
          <div class="buttonsizerow">
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('7')"><h1>7</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('8')"><h1>8</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('9')"><h1>9</h1></button>
          <button mat-raised-button class="example-button-op" (click)="addToDisplay('*')"><h1>*</h1></button>
      </div>
        <div class="buttonsizerow">
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('4')"><h1>4</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('5')"><h1>5</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('6')"><h1>6</h1></button>
          <button mat-raised-button class="example-button-op" (click)="addToDisplay('+')"><h1>+</h1></button>
        </div>
        <div class="buttonsizerow">
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('1')"><h1>1</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('2')"><h1>2</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('3')"><h1>3</h1></button>
          <button mat-raised-button class="example-button-op" (click)="addToDisplay('-')"><h1>-</h1></button>
        </div>
        <div class="buttonsizerow">
          <button mat-raised-button class="example-button-op" (click)="autoBracket()"><h1>()</h1></button>
          <button mat-raised-button class="example-button-row" (click)="addToDisplay('0')"><h1>0</h1></button>
          <button mat-raised-button class="example-button-op" (click)="addToDisplay('.')"><h1>.</h1></button>
          <button mat-raised-button class="example-button-equ" (click)="calculate()"><h1>=</h1></button>
        </div>
      </div>
 </ion-content>
