.buttonsize {
  height: 75%;
}
.buttonsizerow {
  height: 20%;
}
.example-button-row {
  display: table-cell;
  text-size-adjust: 50%;
  width: 25%;
  height: 100%;
  background-color: whitesmoke;
}
.example-button-op {
  display: table-cell;
  text-size-adjust: 50%;
  width: 25%;
  height: 100%;

}
.example-button-equ {
  display: table-cell;
  text-size-adjust: 50%;
  width: 25%;
  height: 100%;
  background-color: lightblue;
}
.textarea {
  width: 100%;
  height: 25%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ccc;
  border-radius: 4px;
  background-color:whitesmoke;
  resize: none;
  text-align: right;
}
input[type=text] {
  background-color:whitesmoke;
  color:black;
}
.textarea1 {
  width: 100%;
  height: 15%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: whitesmoke;
  resize: none;
  text-align: right;
}
